.top {
    padding: 25px 0 25px 0;
    background: #a5d0fd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top1 {
    padding: 30px 0 30px 0;
    background: #a5d0fd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto .titulo {
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    background: #79a7d3;
    margin-top: 5px;
    transition: all 0.3s;
}

.texto .titulo:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.texto1 .titulo1 {
    color: white;
    font-size: 38px;
    font-weight: 600 bold;
    margin-right: auto;
    margin-left: auto;
    text-decoration: underline;
    border: 1px solid white;
    padding: 3px 6px 3px 6px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15));
    transition: all 0.3s;
}

.texto1 .titulo1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.tableclass {
    background-color: #a5d0fd;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.tableclass table {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.tableclass table .modepng {
    width: 300px;
    padding: 0 35px 0 0;
}

.tableclass table .modetxt {
    width: 600px;
    text-align: center;
    padding: 0 35px 0 35px;
}

.tableclass table .modeemoji {
    width: 300px;
    padding: 0 0 0 35px;
}

.submodes table {
    margin-left: auto;
    margin-right: auto;
}

.submodes {
    background-color: #a5d0fd;
    padding: 10px 0 35px 0;
}

.submodes2 {
    background-color: #a5d0fd;
    padding: 10px 0 35px 0;
}

.submodes table .icones {
    width: 50px;
    padding: 0 0 0 30px;
}

.submodes table .texto {
    width: 450px;
    padding: 0 0 0 20px;
    color: white;
    font-size: 14px;
}

.submodes table .wallpaper img {
    border-radius: 30px;
}

.submodes table .icones:hover {
    transform: scale(1.1);
}

.submodes2 table {
    margin-left: auto;
    margin-right: auto;
}

.submodes2 {
    background-color: #a5d0fd;
    padding: 10px 0 35px 0;
}

.submodes2 table .icones {
    width: 50px;
    padding: 0 0 0 30px;
}

.submodes2 table .texto {
    width: 450px;
    padding: 0 0 0 20px;
    color: white;
    font-size: 14px;
}

.submodes2 table .wallpaper img {
    border-radius: 30px;
}

.submodes2 table .icones:hover {
    transform: scale(1.1);
}

.submodes1 table {
    margin-left: auto;
    margin-right: auto;
}

.submodes1 {
    background-color: #a5d0fd;
    padding: 10px 0 35px 0;
}

.submodes1 table .icones {
    width: 50px;
    padding: 0 30px 0 0;
}

.submodes1 table .texto {
    width: 450px;
    color: white;
    font-size: 14px;
    text-align: right;
    padding: 0 20px 0 0;
}

.submodes1 table .wallpaper img {
    border-radius: 30px;
}

.submodes1 table .icones:hover {
    transform: scale(1.1);
}

.submodes .tabelaresponsive {
    display: none;
}

.submodes2 {
    display: none;
}

/* Responsivo Tablet */
@media (max-width: 768px) {
    .linha {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tableclass table .modepng {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .tableclass table .modetxt {
        width: 550px;
        text-align: center;
        padding: 35px 0 25px 0;
    }

    .tableclass table .modeemoji {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .submodes .submodestable {
        display: none;
    }

    .submodes1 {
        display: none;
    }

    .submodes {
        display: none;
    }

    .submodes .tabelaresponsive {
        display: block;
    }

    .submodes2 {
        display: block;
    }

    .submodes2 table .wallpaper img {
        border-radius: 30px;
        width: 550px;
        height: 420px;
    }

    .linha img {
        margin: 20px 0 20px 0;
    }

    .submodes2 table .icones {
        width: 50px;
        padding: 30px 0 0 20px;
    }

    .submodes2 table .texto {
        width: 450px;
        color: white;
        font-size: 14px;
        text-align: left;
        padding: 30px 20px 0 0;
    }

    .tabelaresponsive {
        margin-bottom: 20px;
    }
}

/* Responsivo Celular Largo */
@media (max-width: 425px) {
    .linha {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tableclass table .modepng {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .tableclass table .modetxt {
        width: 380px;
        text-align: center;
        padding: 35px 0 25px 0;
    }

    .tableclass table .modeemoji {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .submodes .submodestable {
        display: none;
    }

    .submodes1 {
        display: none;
    }

    .submodes {
        display: none;
    }

    .submodes .tabelaresponsive {
        display: block;
    }

    .submodes2 {
        display: block;
    }

    .submodes2 table .wallpaper img {
        border-radius: 30px;
        width: 380px;
        height: 290px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .linha img {
        margin: 20px 0 20px 0;
    }

    .submodes2 table .icones {
        width: 50px;
        padding: 30px 0 0 20px;
    }

    .submodes2 table .texto {
        width: 450px;
        color: white;
        font-size: 14px;
        text-align: left;
        padding: 30px 20px 0 0;
    }

    .tabelaresponsive {
        margin-bottom: 20px;
    }
}

/* Responsivo Celular Médio */
@media (max-width: 375px) {
    .linha {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tableclass table .modepng {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .tableclass table .modetxt {
        width: 340px;
        text-align: center;
        padding: 35px 0 25px 0;
    }

    .tableclass table .modeemoji {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .submodes .submodestable {
        display: none;
    }

    .submodes1 {
        display: none;
    }

    .submodes {
        display: none;
    }

    .submodes .tabelaresponsive {
        display: block;
    }

    .submodes2 {
        display: block;
    }

    .submodes2 table .wallpaper img {
        border-radius: 30px;
        width: 340px;
        height: 260px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .linha img {
        margin: 20px 0 20px 0;
    }

    .submodes2 table .icones {
        width: 50px;
        padding: 30px 0 0 20px;
    }

    .submodes2 table .texto {
        width: 350px;
        color: white;
        font-size: 14px;
        text-align: left;
        padding: 30px 20px 0 0;
    }

    .tabelaresponsive {
        margin-bottom: 20px;
    }
}

/* Responsivo Celular Pequeno */
@media (max-width: 320px) {
    .linha {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tableclass table .modepng {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .tableclass table .modetxt {
        width: 310px;
        text-align: center;
        padding: 35px 0 25px 0;
    }

    .tableclass table .modeemoji {
        width: 300px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .submodes .submodestable {
        display: none;
    }

    .submodes1 {
        display: none;
    }

    .submodes {
        display: none;
    }

    .submodes .tabelaresponsive {
        display: block;
    }

    .submodes2 {
        display: block;
    }

    .submodes2 table .wallpaper img {
        border-radius: 30px;
        width: 310px;
        height: 245px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .linha img {
        margin: 20px 0 20px 0;
    }

    .submodes2 table .icones {
        width: 50px;
        padding: 30px 0 0 20px;
    }

    .submodes2 table .texto {
        width: 310px;
        color: white;
        font-size: 14px;
        text-align: left;
        padding: 30px 20px 0 0;
    }

    .tabelaresponsive {
        margin-bottom: 20px;
    }
}
